*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    
    
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 5px 20px;
    background-color: #f7f9fc;
    height: 60px;
    
}
.headerLogo{
    display: flex;
    align-items: center;
    font-size: 30px;
}
.headerLogo span{
    font-size: 22px;
    margin-left: 10px;
}
.options{
    display: flex;
    align-items: center;
}
.account{
    border: 0;
    outline: 0;
    background-color: transparent;
}
.optionIcons{
    height: 25px;
    width: 25px;
}
.user{
    height: 40px;
    width: 40px;
}

.options span{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.searchBar{
    display: flex;
    align-items: center;
    width: 700px;
    background-color: #edf2fc ;
    padding: 12px;
    border-radius: 50px;
}
.searchBar input{
    background-color: transparent;
    border: 0;
    outline: 0;
    flex: 1;
    margin-left: 10px;
}

.ui-body-container{
    display: grid;
    grid-template-columns: 15rem 1fr;  
    background-color: #f7f9fc;
    height: 100vh;
}


.response-button{
    margin: 10px;
    height: 3rem;
    width: 6rem;
    word-spacing: 2px;
    background-color: white;
    border:solid 0.2px rgba(107, 103, 103,0.1) ;
    border-radius: 15px;
    box-shadow: 0px 4px 0px rgb(118, 118, 118);
    font-size: 18px;
    font-style: bold;
    transition: 30ms;
}

.response-button:hover{
    background-color:  rgba(233, 250, 253,0.6);
    box-shadow: 2px 7px 0px rgba(118, 118, 118)
}

.plus-icon{
    height: 1.5rem;
    width: 1.5rem;
}
.ui-body-side-bar{
    background-color: #f7f9fc;
    height: 100%;

}
.ui-body-main-wrapper{
    padding: 5%;
    margin-top: 10px;
    width: 98%;    overflow-x: hidden;
    background-color:#ffffff;
    border-radius: 30px;
    height: 88vh;
}

#folderName{
    width: 100%;
}




.button-choose{
    margin-left: 17rem;
}

#myfile{
    align-items: center;
}