@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.form-ui{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("./images/bg.jpg");
    object-fit: contain;
    background-repeat: none;
}

.form-col1{
    position: absolute;
    height: 600px;
    width: 500px;
    top: 4rem;
    left:470px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form-col1 button{
    margin-left: 100px;
    margin-top: 3rem;
}

